<ul class="nav main-menu" ng-controller="NavbarCtrl" ng-hide="currentUser">
    <li>
        <a href="/" class="ajax-link active">
            <i class="fa fa-dashboard"></i>
            <span class="hidden-xs">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/login" class="ajax-link active">
            <i class="fa fa-sign-in"></i>
            <span class="hidden-xs">Login</span>
        </a>
    </li>
    <li>
        <a href="/signup" class="ajax-link active">
            <i class="fa fa-shopping-cart"></i>
            <span class="hidden-xs">Sign Up (it's free)</span>
        </a>
    </li>
</ul>
<ul class="nav main-menu" ng-controller="NavbarCtrl" ng-show="currentUser">
    <li>
        <a href="ajax/dashboard.html" class="ajax-link">
            <i class="fa fa-dashboard"></i>
            <span class="hidden-xs">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/promotions" class="ajax-link">
            <i class="fa fa-bullseye"></i>
            <span class="hidden-xs">Promotions</span>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle active-parent active">
            <i class="fa fa-bar-chart-o"></i>
            <span class="hidden-xs">Statistics</span>
        </a>
        <ul class="dropdown-menu" style="display: block;">
            <li><a class="ajax-link" href="ajax/charts_xcharts.html">Listens/Downloads</a></li>
            <li><a class="ajax-link" href="ajax/charts_xcharts.html">Positive Feedback</a></li>
            <li><a class="ajax-link" href="ajax/charts_xcharts.html">File Sharing</a></li>
        </ul>
    </li>
    <li>
        <a class="ajax-link" href="ajax/calendar.html">
            <i class="fa fa-calendar"></i>
            <span class="hidden-xs">Calendar</span>
        </a>
    </li>
    <li>
        <a class="ajax-link" href="" ng-click="logout()">
            <i class="fa fa-power-off"></i>
            <span class="hidden-xs">Logout</span>
        </a>
    </li>
</ul>
