<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="scripts/bs/plugins/select2/select2.css">
    <!-- endbuild -->
</head>
<body ng-app="robotoPromotoApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-include="'partials/header.html'"></div>

<div id="main" class="container-fluid">
    <div class="row">
        <div id="sidebar-left" ng-include src="'partials/navbar.html'" class="col-xs-2 col-sm-2"></div>
        <div id="content" class="col-xs-12 col-sm-10">
            <div class="preloader" style="display: none;">
                <img src="/images/bs/devoops_getdata.gif" class="devoops-getdata" alt="preloader">
            </div>
            <div id="ajax-content">
                <div class="row">
                    <div id="breadcrumb" class="col-xs-12 col-sm-12">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="">{{ currentPage.description }}</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
                <div class="row" ng-view=""></div>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js(app) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- bs stuff -->
<script src="scripts/bs/plugins/morris/morris.js"></script>
<script src="scripts/bs/plugins/raphael/raphael.js"></script>
<script src="scripts/bs/plugins/sparkline/jquery.sparkline.js"></script>
<script src="scripts/bs/plugins/datatables/jquery.dataTables.js"></script>
<script src="scripts/bs/plugins/datatables/ZeroClipboard.js"></script>
<script src="scripts/bs/plugins/datatables/TableTools.js"></script>
<script src="scripts/bs/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="scripts/bs/plugins/select2/select2.js"></script>

<!-- end bs stuff -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/header.js"></script>
<script src="scripts/controllers/navbar.js"></script>
<script src="scripts/controllers/promotions.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/signup.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/directives/mongooseError.js"></script>
<script src="scripts/directives/dataTables.js"></script>
<!-- endbuild -->

</body>
</html>
